{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="container">
    <div class="project_list mt-5">
        <div class="project_list__title ">
            <p>Projects</p>
        </div>
        <ul class="project_list__list">
            <li class="list_item">
                <a>Project 1</a>
            </li>
            <li class="list_item">
                <a>Project 2</a>
            </li>
            <li class="list_item">
                <a>Project 3</a>
            </li>
            <li class="list_item">
                <a>Project 4</a>
            </li>
            <li class="list_item">
                <a>Project 5</a>
            </li>
            <li class="list_item">
                <a>Project 6</a>
            </li>
            <li class="list_item">
                <a>Project 7</a>
            </li>
            <li class="list_item">
                <a>Project 8</a>
            </li>
            <li class="list_item">
                <a>Project 9</a>
            </li>
            <li class="list_item">
                <a>Project 10</a>
            </li>
        </ul>
    </div>

</div>
{% endblock %}