<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
</head>
<body>
    <h1>Your form: </h1>
    <p>{{ firstName }}</p>
    <p>{{ lastName }}</p>
    <p>{{ username }}</p>
    <p>{{ email }}</p>
    <p>{{ address }}</p>
    <p>{{ address2 }}</p>
    <p>{{ email }}</p>
    <p>{{ country }}</p>
    <p>{{ state }}</p>
    <p>{{ zip_ }}</p>
    <p>{{ paymentMethod }}</p>
    <p>{{ cc_name }}</p>
    <p>{{ cc_number }}</p>
    <p>{{ cc_expiration }}</p>
  
</body>
</html>